
# Created by https://www.toptal.com/developers/gitignore/api/react
# Edit at https://www.toptal.com/developers/gitignore?templates=react

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch

*.lock

# End of https://www.toptal.com/developers/gitignore/api/react
# End of https://www.toptal.com/developers/gitignore/api/react

**/service-account.json

# Misc. secrets (API keys, GCP credentials, etc.)
.env

eslintrc.json
frontend/eslintrc.json