@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600&family=Quicksand:wght@600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.app {
    @apply bg-fam-bg-dark text-white min-h-screen font-light flex flex-col;
}

.default-bg {
    @apply fixed h-screen w-screen z-0;
    opacity: 0.10;
    filter: blur(8px);
    background-image: url('../public/pebbles.jpg');
    background-size: cover;
}

h1, h2 {
    @apply font-display;
}